/* *{
    margin: 0;
    padding: 0;
} */
.card-title a{
    display: block;
    text-decoration: none;
    color: black;
}
.green{
    color: rgb(76, 226, 76);
}
.all-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:10px;
}